<%- include("../partials/header.ejs")%>
<div class="container singlePost">
    <div class="thumbnail">
      <h1><%=post.title%></h1>
      <section>
        <img src="<%=post.image%>" alt="<%=post.title%>">
      </section>
      <h4>By: <%=post.author%></h4>
      <h6><em>created: <%=post.date.toDateString()%></em></h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eaque, debitis sit quae odio sed aliquid sapiente exercitationem non iste sunt repellendus amet eius alias laudantium atque similique accusantium vel. Totam ea quam vel ad eos expedita, explicabo 
          minus esse sunt?</p>
    </div>
    <div class="comment-box">
      <h2>Comments</h2>
      <%post.comments.forEach((comment)=>{%>
        <h4><%=comment.author%></h4>
        <p><%=comment.content%></p>
      <%})%>
    </div>
</div>
<%- include("../partials/footer.ejs")%>
